<div class="container">
    <div class="wrapper">
        <div class="user-info-wrapper">
            <img src="/assets/guitar.jpg" alt="" class="profile-picture">
            <div class="user-name-roles-listens">
                <p class="name">Test Name</p>
                <div class="roles-container">
                    <p class="role">Artist</p>
                    <p class="role">Admin</p>
                    <p class="role">VIP</p>
                </div>
                <p class="total-listens">
                    10 listens
                </p>
            </div>
        </div>
        <div class="user-music-wrapper">
            <div class="albums-container">
                <p class="albums-label label">Albums:</p>
                <div class="album">
                    <img src="/assets/piano.jpg" alt="" class="album-image">
                    <p class="album-name">Test Album</p>
                </div>
                <div class="album">
                    <img src="/assets/stage.jpg" alt="" class="album-image">
                    <p class="album-name">Test Album</p>
                </div>
            </div>
            <div class="singles-container">
                <div class="singles-label label">Singles:</div>
                <div class="single">
                    <p class="single-name">
                        Test Single
                    </p>
                </div>
                <div class="single">
                    <p class="single-name">
                        Test Single
                    </p>
                </div>
            </div>
            <div class="playlists-container">
                <div class="playlists-label label">Playlists:</div>
                <div class="playlist">
                    <p class="playlist-name">
                        Test Playlist
                    </p>
                </div>
                <div class="playlist">
                    <p class="playlist-name">
                        Test Playlist
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
