<div class="container">
    <div class="wrapper">
        <div class="user-info-wrapper">
            <img src="https://www.dropbox.com/s/fv5ctkjbntsaubt/1200px-Question_Mark.svg.png?raw=1" alt="" class="profile-picture">
            <div class="user-name-roles-listens">
                <p class="name">{{this.userInfo.username}}</p>
                <div class="roles-container">
                    <p class="role" *ngFor="let role of this.userInfo.roleNames">{{role}}</p>
                </div>
            </div>
        </div>
        <div class="user-music-wrapper">
            <div class="albums-container" *ngIf="isArtist">
                <p class="albums-label label">Albums:</p>
                <div routerLink="/album/{{album.id}}" class="album" *ngFor="let album of this.userInfo.albums">
                    <img [src]="album.albumPicLocation" alt="" class="album-image">
                    <p class="album-name" >{{album.albumName}}</p>
                </div>
            </div>
            <div class="singles-container" *ngIf="isArtist">
                <div class="singles-label label">Singles:</div>
                <div routerLink="/single/{{single.id}}" class="single" *ngFor="let single of this.userInfo.singles">
                    <p class="single-name">
                        {{single.name}}
                    </p>
                </div>
            </div>
            <div class="playlists-container">
                <div class="playlists-label label">Playlists:</div>
                <div routerLink="/playlist/{{playlist.id}}" class="playlist" *ngFor="let playlist of this.userInfo.playlists">
                    <p class="playlist-name">
                        {{playlist.name}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
