.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-wrapper{
    background-color: black;
    height: 50vmin;
    width: 60vmin;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-container{
    margin-bottom: 3vmin;
    height: 25%;
}

.logo{
    color: #a4a9af;
    font-family: "Permanent Marker", cursive;
    font-size: 38px;
}

.login-form{
    color: white;
    font-family: "Fira Sans Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55%;
}

.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-container{
    margin-bottom: 2%;
}

.password-container{
    margin-bottom: 2%;
}

.data-container label{
    margin: 6px 0px;
}

.data-container input{
    width: 90%;
    font-size: 20px;
    padding: 3px 9px;
    font-family: "Fira Sans Condensed", sans-serif;
    border-radius: 20px;
    border: none;
}

.data-container input:focus{
    outline: solid #a4a9af;
}

.login-form .submit-button{
    width: 100%;
    margin-top: auto;
    margin-bottom: 20%;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 20px;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 23px;
    color: white;
    padding: 6px 0px;
}

.login-form .submit-button:hover{
    color: #a4a9af;
    border-color: #a4a9af;
    cursor: pointer;
}

.register-prompt, .register-prompt a{
    color: #a4a9af;
    font-family: "Fira Sans Condensed", sans-serif;
}

.register-prompt a{
    color: white;
}

.register-prompt a:hover{
    color: #a4a9af;
}

.rotating{
    animation: rotation 4s infinite linear;
    margin-top: auto;
    margin-bottom: 20%;
    font-size: 36px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}