<div class="container" >
    <div class="album-music-container" *ngIf="genre.genreName !== ''">
        <p class="genre-name">{{genre.genreName}}</p>
        <div class="song-row" *ngFor="let song of genre.songs">
            <p class="song-number">
                {{genre.songs.indexOf(song) + 1}}
            </p>
            <div class="song-info" (click)="addToQueue(song.id)">
                <p class="info song-name">
                    {{song.songName}}
                </p>                   
            
                <p routerLink="/profile/{{song.uploader.id}}" class="info song-artist">
                    {{song.uploader.fullName}}
                </p>
            </div>                
        </div>
    </div>
</div>


