.logo{
    font-family: 'Permanent Marker', cursive;
    color: #a4a9af;
    font-size: 24px;
}

.logo:hover{
    color: white;
}

.navbar-wrapper {
    margin-top: 1%;
    display: flex;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;

}

.navbar {
    padding: 6px;
    display: flex;
    align-items: center; 
    justify-content: space-around;
    overflow: hidden;
    background-color: black;  
    border-style: solid;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    border-color: black;
    border-right: none;
    border-width: 2px;
    width: 90%;
    box-shadow: -2px 2px 3px 2px #a4a9af;
}

.main-link{
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content-wrapper {
  display: none;
  position: fixed;
  background-color: black;
  width: max-content;
  padding: 10px 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-bottom-right-radius: 26px;
  border-bottom-left-radius: 26px;
}

.dropdown-link{
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
}

.dropdown-link:hover, .main-link:hover, .dropbtn:hover, .dropdown a:hover{
    color: #a4a9af;
}

.dropdown-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown:hover .dropdown-content-wrapper {
  display: block;
}

.searchbar-wrapper{
    border: solid 3px;   
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    box-shadow: 1px 2px 3px 2px #a4a9af;
}

.search{
    display: flex;
}

.searchbar{
    padding: 12px;
    font-size: 20px;
    border: none;
    font-family: 'Fira Sans Condensed', sans-serif;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.searchbar:focus{
    outline: none;
}

.search-button{
    padding: 12px;
    font-size: 20px;
    border: none;
    background-color: white;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search-button:hover{
    background-color: #a4a9af;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    cursor: pointer;
}