<div class="navbar-wrapper">
    <div class="navbar">
        <a routerLink="/" class="logo">Musec</a>
        <a routerLink="/browse" class="main-link">Browse</a>
        <a routerLink="/queue" class="main-link">Queue</a>
        <div class="dropdown">
            <a class="main-link dropbtn">
                Create
            </a>
            <div class="dropdown-content-wrapper">
                <div class="dropdown-content">
                    <a routerLink="/playlist/create" class="dropdown-link">New playlist</a>
                    <a routerLink="/album/create" class="dropdown-link">New album</a>
                    <a routerLink="/single/create" class="dropdown-link">New single</a>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <a routerLink="/my-profile" class="main-link dropbtn">
                Profile
            </a>
            <div class="dropdown-content-wrapper">
                <div class="dropdown-content">
                    <a routerLink="/profile-settings" class="dropdown-link">Profile Settings</a>
                </div>
            </div>
        </div>
        <a (click)="logout()" class="main-link">Logout</a>
    </div>
    <div class="searchbar-wrapper">
        <form action="" class="search">
            <input type="text" class="searchbar">
            <button (click)="openDropdown($event)" class="search-button">
                    <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</div>