<div class="container">
    <div class="wrapper">
        <form class="form" action="">
            <div class="new-password-container data-container">
                <label for="password" class="form-label">New Password:</label>
                <input type="password" name="password" id="password-input">
            </div>
            <div class="confirm-password-container data-container">
                <label for="confirm-password" class="form-label">Confirm New Password:</label>
                <input type="password" name="confirm-password" id="confirm-password-input">
            </div>
            <div class="old-password-container data-container">
                <label for="old-password" class="form-label">Old Password:</label>
                <input type="password" name="old-password" id="old-password-input">
            </div>
            <button class="submit-button">Change Password</button>
        </form>
    </div>
</div>
