/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@1&family=Permanent+Marker&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
body{
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

body{
    background-image: url("/assets/mountain.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: auto;
}