<div class="container">
    <div class="music-add-form-wrapper">
        <form action="" class="music-add-form">
            <div class="single-name-container">
                <label for="single-name">Single name:</label>
                <input type="text" name="single-name" id="single-name" [(ngModel)] = "singleName">
            </div>
            <div class="single-image-container">
                <label for="singleImage" class="upload-label">
                    <input class="upload" (input)="singlePicUploaded($event)" id="singleImage" name="singleImage" type="file" accept=".jpeg, .jpg, .png">
                    Click here to upload image for the single
                </label>
                <div class="image-preview-area">
                    <p class="no-image-selected" *ngIf="singlePicPreview == null">No image selected</p>
                    <img class="selected-image" [src]="singlePicPreview" *ngIf="singlePic">
                </div>
            </div>
        </form>
        <form class="music-add-form">
            <div class="single-music-container">
                <label for="singleSongs" class="upload-label">
                    <input class="upload" (change)="musicUploaded($event)" id="singleSongs" name="singleSongs" type="file" accept=".mp3">
                    Click here to upload songs for the single
                </label>
                <p class="no-music-selected" *ngIf="music == undefined">No music selected</p>
                <div class="selected-music-list" *ngIf="music != undefined">
                    <div class="selected-song">
                        <div class="song-info">
                            <p class="song-name">
                                {{music.songFile.name}}
                            </p>
                            <input class="song-name-input" type="text" name="" id="" [value]="music.songName" [(ngModel)] = 'music.songName' [ngModelOptions]="{standalone: true}">
                            <select class="song-genre-input" name="song-genre" id="" [(ngModel)]='music.songGenre' >
                                <option *ngFor="let genre of genres" value="{{genre.genreName}}">{{genre.genreName}}</option>
                            </select>
                            <!--<input class="song-genre-input" type="text" name="" id="" [value]="music.songGenre" [(ngModel)] = 'music.songGenre' [ngModelOptions]="{standalone: true}">-->
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <i class="rotating fas fa-spinner" *ngIf="isWorking"></i>
        <button (click)="onSubmit()" [ngClass]="singleName != '' && singlePic != null && music != null && areSongInputsValid ? '' : 'invalid' " class="submit-button" *ngIf="!isWorking">Submit</button>
    </div>
</div>
