<div class="container" [ngClass]="songId !=-1? 'toned-down' : '' ">
    <div class="image-artist-container">
        <img class="album-image" [src]="albumInfo.albumPicLink" alt="">
        <div class="artist-album-name">
            <p class="album-name">
                {{albumInfo.albumName}}
            </p>
            <a routerLink="/profile/{{albumInfo.albumCreator.id}}" class="artist-info">
                <img class="artist-image" [src]="albumInfo.albumCreator.profilePicLink" alt="">
                <p class="artist-name">{{albumInfo.albumCreator.fullName}}</p>
            </a>
        </div>
    </div>
    <div class="album-music-container">
        <div class="song-row" *ngFor="let song of albumInfo.albumSongs">
            <div class="song-row-info">
                <p class="song-number" (click)="addToQueue(song.id)">
                    {{albumInfo.albumSongs.indexOf(song) + 1}}
                </p>
                <p class="song-name" (click)="addToQueue(song.id)">
                    {{song.songName}}
                </p>
                <i *ngIf="doesUserHavePlaylists" (click)="addSongToPlaylistPopup(song.id)" class="playlists-button fas fa-plus"></i>
            </div>
        </div>
    </div>
</div>
<div  class="popup-container" [ngClass]="songId != -1? 'visible' : ''">
    <div class="playlist-popup">
        <form>
            <label for="playlists">Choose a playlist to save this song into:</label>
            <select name="playlists" id="" [(ngModel)]="playlistId">
                <option *ngFor="let playlist of playlists" [value]="playlist.id">{{playlist.playlistName}}</option>
            </select>
            <button (click)="addSongToPlaylist()">Submit</button>
        </form>
    </div>
</div>