<div class="container">
    <div class="image-artist-container">
        <img class="album-image" [src]="albumInfo.albumPicLink" alt="">
        <div class="artist-album-name">
            <p class="album-name">
                {{albumInfo.albumName}}
            </p>
            <a routerLink="/profile/{{albumInfo.albumCreator.id}}" class="artist-info">
                <img class="artist-image" [src]="albumInfo.albumCreator.profilePicLink" alt="">
                <p class="artist-name">{{albumInfo.albumCreator.fullName}}</p>
            </a>
        </div>

    </div>
    <div class="album-music-container">
        
        <div class="song-row" *ngFor="let song of albumInfo.albumSongs">
            <p class="song-number">
                {{albumInfo.albumSongs.indexOf(song) + 1}}
            </p>
            <p class="song-name">
                {{song.songName}}
            </p>
        </div>
    </div>
</div>
