<div class="container">
    <div class="image-artist-container">
        <img class="album-image" src="/assets/piano.jpg" alt="">
        <div class="artist-album-name">
            <p class="album-name">
                Test Album Name
            </p>
            <a href="" class="artist-info">
                <img class="artist-image" src="/assets/djboard.jpg" alt="">
                <p class="artist-name">Test Name</p>
            </a>
        </div>

    </div>
    <div class="album-music-container">
        <div class="song-row">
            <p class="song-number">
                1
            </p>
            <p class="song-name">
                Test Song
            </p>
        </div>
        <div class="song-row">
            <p class="song-number">
                2
            </p>
            <p class="song-name">
                Test Song
            </p>
        </div>
        <div class="song-row">
            <p class="song-number">
                3
            </p>
            <p class="song-name">
                Test Song
            </p>
        </div>
        <div class="song-row">
            <p class="song-number">
                4
            </p>
            <p class="song-name">
                Test Song
            </p>
        </div>
    </div>
</div>
