<div class="container">
    <div class="register-wrapper">
        <div class="logo-container">
            <p class="logo">Musec</p>
        </div>
        <form class="register-form" action="">
            <div class="username-container data-container">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" id="username-input">
            </div>
            <div class="fullname-container data-container">
                <label for="fullName" class="form-label">Full name:</label>
                <input type="text" name="fullName" id="full-name-input">
            </div>
            <div class="email-container data-container">
                <label for="email" class="form-label">Email:</label>
                <input type="text" name="email" id="email-input">
            </div>
            <div class="password-container data-container">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" id="password-input">
            </div>
            <div class="confirm-password-container data-container">
                <label for="confirm-password" class="form-label">Confirm Password:</label>
                <input type="password" name="confirm-password" id="confirm-password-input">
            </div>
            <div class="birthday-container data-container">
                <label for="birthday" class="form-label">Birthday date:</label>
                <input type="date" name="birthday" id="birthday-input">
            </div>
            <button class="submit-button">Register</button>
        </form>
        <p class="register-prompt">You already have an account? Then what are you doing here? Go and <a href="">login</a>!</p>
    </div>
</div>

