<div class="container">
    <div class="register-wrapper">
        <div class="logo-container">
            <p class="logo">Musec</p>
        </div>
        <form #registerForm = 'ngForm' (ngSubmit)="onSubmit()" class="register-form" action="" ngNativeValidate>
            <div class="username-container data-container">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" id="username-input" [(ngModel)]="username" required minlength="2" maxlength="10">
            </div>
            <div class="fullname-container data-container">
                <label for="fullName" class="form-label">Full name:</label>
                <input type="text" name="fullName" id="full-name-input" [(ngModel)]="fullName" required minlength="2">
            </div>
            <div class="email-container data-container">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" id="email-input" [(ngModel)]="email" required minlength="1">
            </div>
            <div class="password-container data-container">
                <label for="password" class="form-label">Password:</label>
                <input (input)="passwordChecker(realPass.value, confirmPass.value)" type="password" name="password" id="password-input" #realPass="ngModel" [(ngModel)]="password" required>
            </div>
            <div class="confirm-password-container data-container">
                <label for="confirm-password" class="form-label">Confirm Password:</label>
                <input [ngClass]="{red: !arePasswordsTheSame}" (input)="passwordChecker(realPass.value, confirmPass.value)" type="password" name="confirm-password" id="confirm-password-input" #confirmPass="ngModel" [(ngModel)]="confirmPassword" required>
            </div>
            <div class="birthday-container data-container">
                <label for="birthday" class="form-label">Birthday date:</label>
                <input [ngClass]="{red: !isBirthdateValid}" (input)="dateChecker(birthdate.value)" type="date" name="birthday" id="birthday-input" #birthdate="ngModel" [(ngModel)]="birthdayDate" required>
            </div>
            <input [ngClass]="{invisible: !isBirthdateValid || !arePasswordsTheSame}" type="submit" class="submit-button" value="Register">
        </form>
        <p class="register-prompt">You already have an account? Then what are you doing here? Go and <a routerLink="/login" >login</a>!</p>
    </div>
</div>

