<div class="container">
    <div class="wrapper">
        <div class="profile-settings-container category">
            <p class="category-label">Profile Settings</p>
            <div class="profile-settings">
                <div class="name-change setting">
                    <p class="name-change-label label">Change your public name:</p>
                    <a href="" class="setting-redirect">Change</a>
                </div>
                <div class="username-change setting">
                    <p class="username-change-label label">Change your username:</p>
                    <a href="" class="setting-redirect">Change</a>
                </div>
                <div class="email-change setting">
                    <p class="email-change-label label">Change your email:</p>
                    <a href="" class="setting-redirect">Change</a>
                </div>
                <div class="password-change setting">
                    <p class="password-change-label label">Change your password:</p>
                    <a href="" class="setting-redirect">Change</a>
                </div>
                <div class="birthday-change setting">
                    <p class="birthday-change-label label">Change your birthday:</p>
                    <a href="" class="setting-redirect">Change</a>
                    <p class="birthday-public-change-label label">Should people be able to see your birthday:</p>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="albums-singles-settings-container category">
            <p class="category-label">Albums/Singles Settings</p>
            <div class="albums-singles-settings">

            </div>
        </div>
        <div class="playlists-settings-container category">
            <p class="category-label">Playlists Settings</p>
            <div class="playlists-settings">

            </div>
        </div>
    </div>
</div>
