    <div class="container" *ngIf="songArr.length > 0">
        <div class="song-info">
            <img #albumPic class="albumPic" [src]="songArr[0].songPic" alt="">
        </div>
        <div class="player-wrapper">
            <p #songTitle class="song-title">{{songArr[0].songName}}</p>
            <audio autoplay style="display: none;" #audioPlayer 
                (timeupdate)="currentDuration"
                (loadedmetadata)="loaded()"
                (ended)="ended()"  
                [src]="songArr[0].songLocation"
                [volume]="volume / 100" 
                [currentTime]="currentDuration"  
                preload="auto" >
            </audio>
            <div class="duration-wrapper">
                <input type="range" class="duration-range" [value]="audioPlayer.currentTime" [max]="totalDuration" min="0" [(ngModel)]='currentDuration'>
                <p class="duration-text">{{Math.floor(audioPlayer.currentTime/60)}}:{{audioPlayer.currentTime % 60 |number:'2.0-0'}}/{{Math.floor(totalDuration/60)}}:{{totalDuration % 60 |number: '2.0-0'}}</p>
            </div>
            <div class="buttons-wrapper">
                <div class="control-buttons-wrapper">
                    <button (click)="backwards()" class="control-button backwards">
                        <i class="fas fa-step-backward"></i>
                    </button>
                    <button class="control-button pause" (click)="pause()">
                        <i class="fas fa-pause" *ngIf="!audioPlayer.paused"></i>
                        <i class="fas fa-play" *ngIf="audioPlayer.paused"></i>
                    </button>
                    <button (click)="ended()" class="control-button forward">
                        <i class="fas fa-step-forward"></i>
                    </button>
                </div>
    
                <div class="volume-wrapper">
                    <p class="volume-icon" (click)="volume = 0">
                        <i class="fas fa-volume-mute" *ngIf="volume === 0"></i>
                        <i class="fas fa-volume-off" *ngIf="volume <= 20 && volume > 0"></i>
                        <i class="fas fa-volume-down" *ngIf="volume <= 60 && volume > 20"></i>
                        <i class="fas fa-volume-up" *ngIf="volume <= 100 && volume > 60"></i>
                    </p>
                    <input class="volume-input" type="range" max="100" min="0" [(ngModel)]="volume">
                </div>
            </div>
        </div>
    </div>
    <div class="empty-queue" *ngIf="songArr.length === 0 && isSynced == true">
        <p>No songs in <a routerLink="/browse">queue</a>!</p>
    </div>