<div class="container">
    <div class="wrapper">
        <form class="form" action="">
            <div class="new-email-container data-container">
                <label for="new-email" class="form-label">New Email:</label>
                <input type="text" name="new-email" id="new-email-input">
            </div>
            <div class="current-password-container data-container">
                <label for="current-password" class="form-label">Current Password:</label>
                <input type="password" name="current-password" id="current-password-input">
            </div>
            <button class="submit-button">Change Email</button>
        </form>
    </div>
</div>