.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    background-color: black;
    height: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1% 2%;
    padding-bottom: 0%;
}

.form{
    color: white;
    font-family: "Fira Sans Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.data-container label{
    margin: 6px 0px;
}

.data-container input{
    width: 90%;
    font-size: 20px;
    padding: 3px 9px;
    font-family: "Fira Sans Condensed", sans-serif;
    border-radius: 20px;
    border: none;
}

.data-container input:focus{
    outline: solid #a4a9af;
}

.submit-button{
    width: 100%;
    margin-bottom: 15%;
    margin-top: 15%;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 20px;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 23px;
    color: white;
    padding: 6px 0px;
}

.submit-button:hover{
    color: #a4a9af;
    border-color: #a4a9af;
    cursor: pointer;
}