<div class="container">
    <div class="genre-wrapper">
        <p class="genre-title">
            Genres:
        </p>
        <div class="genres-container">
            <a routerLink="/genre/{{genre.id}}" class="genre-box" *ngFor="let genre of genres">
                <p class="genre-name">
                    {{genre.genreName}}
                </p>
            </a>
            <a href="https://google.com" class="genre-box">
                <p class="genre-name">
                    . . .
                </p>
            </a>
        </div>
    </div>
    <div class="top10-wrapper">
        <p class="top10-title">
            Top 10 today:
        </p>
        <div class="top10-songs-container">
            <div class="song-row">
                <img src="/assets/mountain.jpg" alt="" class="small-song-image">
                <div class="row-text">
                    <a href="https://google.com" class="song-title">Test song</a>
                    <a href="https://google.com" class="artist-title">Test artist</a>
                    <a href="https://google.com" class="album-title">Test album</a>
                </div>
            </div>
            <div class="song-row">
                <img src="/assets/piano.jpg" alt="" class="small-song-image">
                <div class="row-text">
                    <a href="https://google.com" class="song-title">Test song</a>
                    <a href="https://google.com" class="artist-title">Test artist</a>
                    <a href="https://google.com" class="album-title">Test album</a>
                </div>
            </div>
            <div class="song-row">
                <img src="/assets/mountain.jpg" alt="" class="small-song-image">
                <div class="row-text">
                    <a href="https://google.com" class="song-title">Test song</a>
                    <a href="https://google.com" class="artist-title">Test artist</a>
                    <a href="https://google.com" class="album-title">Test album</a>
                </div>
            </div>
            <div class="song-row">
                <img src="/assets/piano.jpg" alt="" class="small-song-image">
                <div class="row-text">
                    <a href="https://google.com" class="song-title">Test song</a>
                    <a href="https://google.com" class="artist-title">Test artist</a>
                    <a href="https://google.com" class="album-title">Test album</a>
                </div>
            </div>
            <div class="song-row">
                <img src="/assets/mountain.jpg" alt="" class="small-song-image">
                <div class="row-text">
                    <a href="https://google.com" class="song-title">Test song</a>
                    <a href="https://google.com" class="artist-title">Test artist</a>
                    <a href="https://google.com" class="album-title">Test album</a>
                </div>
            </div>
            <div class="song-row">
                <img src="/assets/piano.jpg" alt="" class="small-song-image">
                <div class="row-text">
                    <a href="https://google.com" class="song-title">Test song</a>
                    <a href="https://google.com" class="artist-title">Test artist</a>
                    <a href="https://google.com" class="album-title">Test album</a>
                </div>
            </div>
            <div class="song-row">
                <img src="/assets/mountain.jpg" alt="" class="small-song-image">
                <div class="row-text">
                    <a href="https://google.com" class="song-title">Test song</a>
                    <a href="https://google.com" class="artist-title">Test artist</a>
                    <a href="https://google.com" class="album-title">Test album</a>
                </div>
            </div>
            <div class="song-row">
                <img src="/assets/piano.jpg" alt="" class="small-song-image">
                <div class="row-text">
                    <a href="https://google.com" class="song-title">Test song</a>
                    <a href="https://google.com" class="artist-title">Test artist</a>
                    <a href="https://google.com" class="album-title">Test album</a>
                </div>
            </div>
            <div class="song-row">
                <img src="/assets/mountain.jpg" alt="" class="small-song-image">
                <div class="row-text">
                    <a href="https://google.com" class="song-title">Test song</a>
                    <a href="https://google.com" class="artist-title">Test artist</a>
                    <a href="https://google.com" class="album-title">Test album</a>
                </div>
            </div>
            <div class="song-row">
                <img src="/assets/piano.jpg" alt="" class="small-song-image">
                <div class="row-text">
                    <a href="https://google.com" class="song-title">Test song</a>
                    <a href="https://google.com" class="artist-title">Test artist</a>
                    <a href="https://google.com" class="album-title">Test album</a>
                </div>
            </div>
        </div>
    </div>
</div>
