<div class="container">
    <div class="genre-wrapper">
        <p class="genre-title">
            Genres:
        </p>
        <div class="genres-container">
            <a routerLink="/genre/{{genre.id}}" class="genre-box" *ngFor="let genre of genres">
                <p class="genre-name">
                    {{genre.genreName}}
                </p>
            </a>
            <a *ngIf="!allGenresLoaded" (click)="loadAllGenres()" class="genre-box">
                <p class="genre-name">
                    . . .
                </p>
            </a>
        </div>
    </div>
    <div class="top10-wrapper">
        <p class="top10-title">
            Newest 10:
        </p>
        <div class="top10-songs-container">
            <div class="song-row" *ngFor="let song of songs" (click)="addToQueue(song.id)">
                <img src="{{song.album.albumPicLocation}}" alt="" class="small-song-image" *ngIf="song.album != null">
                <img src="{{song.single.singlePicLocation}}" alt="" class="small-song-image" *ngIf="song.single != null">
                <div class="row-text">
                    <a class="song-title">{{song.songName}}</a>
                    <a routerLink="/profile/{{song.uploader.id}}" class="artist-title">{{song.uploader.fullName}}</a>
                    <a routerLink="/album/{{song.album.id}}" class="album-title" *ngIf="song.album != null">{{song.album.albumName}}</a>
                    <a routerLink="/single/{{song.single.id}}" class="album-title" *ngIf="song.single != null">{{song.single.singleName}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
