<div class="container">
    <form class="playlist-form" action="">
        <div class="playlist-info-wrapper">
            <div class="playlist-name-container">
                <label class="playlist-name-label" for="playlistName">Playlist name:</label>
                <input class="playlist-name-input" type="text" name="playlistName" id="playlistName">
            </div>
            <div class="availability-container">
                <div class="private-wrapper">
                    <input type="radio" id="private" name="playlist-availability" value="private">
                    <label for="private">Private</label>
                </div>
                <div class="public-wrapper">
                    <input type="radio" id="public" name="playlist-availability" value="public">
                    <label for="public">Public</label>
                </div>
            </div>
        </div>
        <div class="buttons-container">
            <input class="submit-button button" type="submit" value="Submit">
            <button class="cancel-button button">Cancel</button>
        </div>
    </form>
</div>