<div class="container">
    <div class="album-music-container">
        <div class="song-row">
            <p class="song-number">
                1
            </p>
            <div class="song-info">
                <p class="song-name">
                    songTitle
                </p>                   
            
                <p routerLink="/profile/1" class="song-artist">
                    artistName
                </p>
            
                <p routerLink="/album/1" class="song-album">
                    albumName
                </p>
            
                <p class="song-album">
                    singleName
                </p>

            </div>                
            <div class="control-buttons">
                <i class="control-button fas fa-times"></i>
            </div>
        </div>
    </div>
</div>

