<div class="container">
    <div class="wrapper">
        <div class="profile-settings-container category">
            <p class="category-label">Profile Settings</p>
            <div class="profile-settings settings-group">
                <div class="profile-pic-change setting">
                    <p class="name-change-label label">Change your profile picture:</p>
                    <a routerLink="/profile-settings/profile-pic" class="setting-redirect">Change</a>
                </div>
                <div class="name-change setting">
                    <p class="name-change-label label">Change your full name:</p>
                    <a routerLink="/profile-settings/full-name" class="setting-redirect">Change</a>
                </div>
                <div class="username-change setting">
                    <p class="username-change-label label">Change your username:</p>
                    <a routerLink="/profile-settings/username" class="setting-redirect">Change</a>
                </div>
                <div class="email-change setting">
                    <p class="email-change-label label">Change your email:</p>
                    <a routerLink="/profile-settings/email" class="setting-redirect">Change</a>
                </div>
                <div class="password-change setting">
                    <p class="password-change-label label">Change your password:</p>
                    <a routerLink="/profile-settings/password" class="setting-redirect">Change</a>
                </div>
                <div class="birthday-change setting">
                    <p class="birthday-change-label label">Change your birthday:</p>
                    <a routerLink="/profile-settings/birthday" class="setting-redirect">Change</a>
                </div>
            <!--<div class="birthday-public-setting setting">
                    <p class="birthday-public-change-label label">Should people be able to see your birthday:</p>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>-->
            </div>
        </div>
        <div class="albums-settings-container category" *ngIf="albums.length > 0">
            <p class="category-label">Albums Settings</p>
            <div class="albums-singles-settings settings-group">
                <div class="album" *ngFor="let album of albums">
                    <p>{{album.albumName}}</p>
                    <div class="album-control">
                        <i (click)="deleteAlbum(album.id)" class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="singles-settings-container category" *ngIf="singles.length > 0">
            <p class="category-label">Singles Settings</p>
            <div class="albums-singles-settings settings-group">
                <div class="album" *ngFor="let single of singles">
                    <p>{{single.singleName}}</p>
                    <div class="album-control">
                        <i (click)="deleteSingle(single.id)" class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="playlists-settings-container category" *ngIf="playlists.length > 0">
            <p class="category-label">Playlists Settings</p>
            <div class="playlists-settings settings-group">
                <div class="playlist" *ngFor="let playlist of playlists">
                    <p>{{playlist.playlistName}}</p>
                    <div class="playlist-control">
                        <i (click)="deletePlaylist(playlist.id)" class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

