<div class="container">
    <div class="wrapper">
        <div class="profile-settings-container category">
            <p class="category-label">Profile Settings</p>
            <div class="profile-settings settings-group">
                <div class="name-change setting">
                    <p class="name-change-label label">Change your full name:</p>
                    <a routerLink="/profile-settings/full-name" class="setting-redirect">Change</a>
                </div>
                <div class="username-change setting">
                    <p class="username-change-label label">Change your username:</p>
                    <a routerLink="/profile-settings/username" class="setting-redirect">Change</a>
                </div>
                <div class="email-change setting">
                    <p class="email-change-label label">Change your email:</p>
                    <a routerLink="/profile-settings/email" class="setting-redirect">Change</a>
                </div>
                <div class="password-change setting">
                    <p class="password-change-label label">Change your password:</p>
                    <a routerLink="/profile-settings/password" class="setting-redirect">Change</a>
                </div>
                <div class="birthday-change setting">
                    <p class="birthday-change-label label">Change your birthday:</p>
                    <a routerLink="/profile-settings/birthday" class="setting-redirect">Change</a>
                </div>
            <!--<div class="birthday-public-setting setting">
                    <p class="birthday-public-change-label label">Should people be able to see your birthday:</p>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>-->
            </div>
        </div>
        <div class="albums-singles-settings-container category">
            <p class="category-label">Albums/Singles Settings</p>
            <div class="albums-singles-settings settings-group">
                <div class="album">
                    <p>Test Album</p>
                    <div class="album-control">
                        <a class="setting-redirect" href="">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="setting-redirect" href="">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="album">
                    <p>Test Album</p>
                    <div class="album-control">
                        <a class="setting-redirect" href="">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="setting-redirect" href="">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="playlists-settings-container category">
            <p class="category-label">Playlists Settings</p>
            <div class="playlists-settings settings-group">
                <div class="playlist">
                    <p>Test Playlist</p>
                    <div class="playlist-control">
                        <a class="setting-redirect" href="">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="setting-redirect" href="">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="playlist">
                    <p>Test Playlist</p>
                    <div class="playlist-control">
                        <a class="setting-redirect" href="">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="setting-redirect" href="">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="playlist">
                    <p>Test Playlist</p>
                    <div class="playlist-control">
                        <a class="setting-redirect" href="">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="setting-redirect" href="">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

