<div class="container">
    <div class="music-add-form-wrapper">
        <form action="" class="music-add-form">
            <div class="album-name-container">
                <label for="album-name">Album name:</label>
                <input type="text" name="album-name" id="album-name" [(ngModel)] = "albumName">
            </div>
            <div class="album-image-container">
                <label for="albumImage" class="upload-label">
                    <input class="upload" (input)="albumPicUploaded($event)" id="albumImage" name="albumImage" type="file" accept=".jpeg, .jpg, .png">
                    Click here to upload album image
                </label>
                <div class="image-preview-area">
                    <p class="no-image-selected" *ngIf="albumPicPreview == null">No image selected</p>
                    <img class="selected-image" [src]="albumPicPreview" *ngIf="albumPic">
                </div>
            </div>
        </form>
        <form class="music-add-form">
            <div class="album-music-container">
                <label for="albumSongs" class="upload-label">
                    <input class="upload" (change)="musicUploaded($event)" id="albumSongs" name="albumSongs" type="file" accept=".mp3" multiple>
                    Click here to upload songs for the album
                </label>
                <p class="no-music-selected" *ngIf="music.length == 0">No music selected</p>
                <div class="selected-music-list" *ngIf="music">
                    <div class="selected-song" *ngFor="let song of music">
                        <div class="song-info">
                            <p class="song-name">
                                {{song.songFile.name}}
                            </p>
                            <input class="song-name-input" type="text" name="" id="" [value]="song.songName" [(ngModel)] = 'song.songName' [ngModelOptions]="{standalone: true}">
                            <select class="song-genre-input" name="song-genre" id="" [(ngModel)] = 'song.songGenre' >
                                <option *ngFor="let genre of genres" value="{{genre.genreName}}">{{genre.genreName}}</option>
                            </select>
                        </div>
                        <div class="control-buttons">
                            <i (click)="removeSong(music.indexOf(song))" class="control-button fas fa-times"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <i class="rotating fas fa-spinner" *ngIf="isWorking"></i>
        <button [ngClass]="albumName !== '' && albumPicPreview != null && music.length != 0? '' : 'invalid' " (click)="onSubmit()" class="submit-button" *ngIf="!isWorking">Submit</button>
    </div>
</div>
