<div class="navbar-wrapper">
    <div class="navbar">
        <a href="" class="logo">Musec</a>
        <a *ngIf="!isUserLoggedIn" href="/login" class="main-link">Login</a>
        <a *ngIf="!isUserLoggedIn" href="/register" class="main-link">Register</a>
        <a *ngIf="isUserLoggedIn" href="" class="main-link">Browse</a>
        <div *ngIf="isUserLoggedIn" class="dropdown">
            <a href="" class="main-link dropbtn">
                Top 10
            </a>
            <div class="dropdown-content-wrapper">
                <div class="dropdown-content">
                    <a href="#" class="dropdown-link">This week</a>
                    <a href="#" class="dropdown-link">This month</a>
                    <a href="#" class="dropdown-link">This year</a>
                </div>
            </div>
        </div>
        <a *ngIf="isUserLoggedIn" (click)="logout()" class="main-link">Logout</a>
    </div>
    <div class="searchbar-wrapper">
        <form action="" class="search">
            <input type="text" class="searchbar">
            <button (click)="openDropdown($event)" class="search-button">
                    <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</div>