<div class="container">
    <p class="playlist-title">
        Test Album
    </p>
    <div class="album-music-container">
        <div class="song-row">
            <p class="song-number">
                1
            </p>
            <p class="song-name">
                Test Song
            </p>
        </div>
        <div class="song-row">
            <p class="song-number">
                2
            </p>
            <p class="song-name">
                Test Song
            </p>
        </div>
        <div class="song-row">
            <p class="song-number">
                3
            </p>
            <p class="song-name">
                Test Song
            </p>
        </div>
        <div class="song-row">
            <p class="song-number">
                4
            </p>
            <p class="song-name">
                Test Song
            </p>
        </div>
    </div>
</div>

  

