.container{
    height: auto;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: white;
    padding-bottom: 18vh;
}

.wrapper{
    width: 50%;
    height: auto;
    min-height: 60vh;
    background-color: black;
    margin-top: 6%;
    border-radius: 20px;
    padding-bottom: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p{
    margin: 0;
}

.upper-part{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 5%;
}

.playlist-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.add-button, .listen-button{
    color: white;
    background: none;
    border: 1px white solid;
    border-radius: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.listen-button{
    margin-right: 5%;
}

.add-button:hover, .listen-button:hover{
    border-color: #a4a9af;
    color: #a4a9af;
}

.upper-part .playlist-title{
    font-size: 25px;
    border-bottom: solid white 1px;
    font-weight: bold;
}

.album-music-container{
    width: 100%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-row{
    display: flex;
    flex-direction: row;
    width: 80%;
    font-size: 22px;
    border-bottom: solid 1px #a4a9af;
    border-bottom-left-radius: 10px;
    margin-bottom: 1%;
    cursor: pointer;
}

.song-row .song-number{
    font-size: 30px;
    border: solid 1px #a4a9af;
    border-radius: 10px;
    border-bottom: none;
    flex-basis: 4%;
    text-align: center;
}

.song-info{
    display: flex;
    flex-direction: row;
    flex-basis: 96%;
    justify-content: space-around;
}

.delete-btn, .song-album, .song-artist, .song-name{
    line-height: 200%;
    text-align: center;
}

.song-album:hover, .song-artist:hover, .delete-btn:hover{
    color: #a4a9af;
    cursor: pointer;
}

.info{
    flex-basis: 30%;
}

.search-container{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
}

.search-wrapper{
    border: 1px solid #a4a9af;
    background-color: black;
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    height: 200px;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results{
    width: 80%;
    align-items: center;
}

.result{
    margin-top: 2%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.result:hover{
    background-color: rgb(32, 32, 32);
}

.toned-down{
    filter: brightness(20%);
    pointer-events: none;
}

.visible{
    display: block;
}
