<div class="container">
    <div class="wrapper">
        <div class="upper-part">
            <p class="playlist-title">
                Test Playlist
            </p>
            <p class="creator-username">
                Test User
            </p>
        </div>
        <div class="album-music-container">
            <div class="song-row">
                <p class="song-number">
                    1
                </p>
                <div class="song-info">
                    <p class="song-name">
                        Test Name
                    </p>
                    <p class="song-artist">
                        Test Artist
                    </p>
                    <p class="song-album">
                        Test Album
                    </p>
                </div>
            </div>
            <div class="song-row">
                <p class="song-number">
                    2
                </p>
                <div class="song-info">
                    <p class="song-name">
                        Test Name
                    </p>
                    <p class="song-artist">
                        Test Artist
                    </p>
                    <p class="song-album">
                        Test Album
                    </p>
                </div>
            </div>
            <div class="song-row">
                <p class="song-number">
                    3
                </p>
                <div class="song-info">
                    <p class="song-name">
                        Test Name
                    </p>
                    <p class="song-artist">
                        Test Artist
                    </p>
                    <p class="song-album">
                        Test Album
                    </p>
                </div>
            </div>
            <div class="song-row">
                <p class="song-number">
                    4
                </p>
                <div class="song-info">
                    <p class="song-name">
                        Test Name
                    </p>
                    <p class="song-artist">
                        Test Artist
                    </p>
                    <p class="song-album">
                        Test Album
                    </p>
                </div>
            </div>
            <div class="song-row">
                <p class="song-number">
                    5
                </p>
                <div class="song-info">
                    <p class="song-name">
                        Test Name
                    </p>
                    <p class="song-artist">
                        Test Artist
                    </p>
                    <p class="song-album">
                        Test Album
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

  

