.container{
    height: auto;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: white;
    padding-bottom: 18vh;
}

.wrapper{
    width: 50%;
    height: auto;
    min-height: 60vh;
    background-color: black;
    margin-top: 6%;
    border-radius: 20px;
    padding-bottom: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p{
    margin: 0;
}

.upper-part{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 5%;
}

.upper-part .playlist-title{
    font-size: 25px;
    border-bottom: solid white 1px;
    font-weight: bold;
}

.album-music-container{
    width: 100%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-row{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80%;
    font-size: 22px;
    border-bottom: solid 1px #a4a9af;
    border-bottom-left-radius: 10px;
    margin-bottom: 1%;
    z-index: 1;
}

.song-row:before{
    background: linear-gradient(178deg, rgba(0,0,0,1) 58%, rgba(124,12,12,1) 100%);
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s;
}

.song-row:hover::before{
    opacity: 1;
}

.song-row .song-number{
    font-size: 30px;
    border: solid 1px #a4a9af;
    border-radius: 10px;
    border-bottom: none;
    flex-basis: 4%;
    text-align: center;
}

.song-info{
    display: flex;
    flex-direction: row;
    flex-basis: 96%;
    justify-content: space-around;
}

.song-album, .song-artist{
    cursor: pointer;
}

.song-album:hover, .song-artist:hover{
    color: #a4a9af;
}