<div class="container">
    <div class="wrapper">
        <div class="upper-part">
            <p class="playlist-title">
                {{playlistInfo.playlistName}}
            </p>
            <p class="creator-username">
                {{playlistInfo.playlistCreator.fullName}}
            </p>
        </div>
        <div class="album-music-container">
            <div class="song-row" *ngFor="let song of playlistInfo.songs">
                <p class="song-number">
                    {{playlistInfo.songs.indexOf(song) + 1}}
                </p>
                <div class="song-info">
                    <p class="song-name">
                        {{song.songName}}
                    </p>                   

                    <p routerLink="/profile/{{song.uploader.id}}" class="song-artist">
                        {{song.uploader.fullName}}
                    </p>

                    <p routerLink="/album/{{song.album.id}}" class="song-album" *ngIf="song.single == null">
                        {{song.album.albumName}}
                    </p>

                    <p routerLink="/single/{{song.single.id}}" class="song-album" *ngIf="song.single != null">
                        {{song.single.singleName}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

  

